
extends layout

block content
  script.
    function load(){
      console.log("cared")
    }
  style.
    a{
      height:30px;
      font-size:12px !important;
      margin:4px;
    }
    .item{
      position:fixed;
      bottom:0;
      z-index:-100
    }
    .img1{
      right:30;
    }
    .img2{
      right:30px;

    }
    body{
       background-image:linear-gradient(to bottom right, red, yellow);
      //-  background:black;
       background-size:cover;

      
      height:100vh;
      background-repeat:no-repeat;
    }
    p{
      text-align:center;
      width:100%;
    }
    .row{
      display:flex;
      justify-content:center
    }
    h3{
      text-align:center;
      width :100%;
    }
    h1{
      color:white;
      text-shadow:1px 1px 12px black;
    }
    #buttons{
      border-radius:10px;
      width:110%;
      display:flex;
      flex-wrap:wrap;
      justify-content:space-evenly
    }
    .center{
      text-align:center;
      position:relative;
      top:50%;
      transform:translateY(-50%);
    }
  .center
    h1= title
    a(class='btn btn-primary' href=`/customer/create`) Create new Customer Instance
    .container-fluid(onload='load()')
      .row 
        each customer,key in results
          div(class="col-sm-2" style=`margin:5px;border-radius:12px;text-align:center;background:lightgray;border:solid 2px black;display:flex;flex-direction:row;flex-wrap:wrap` onclick=`buy(${key})`) 
              h3= customer.Cust_Name
              div#buttons
                a(class='btn btn-primary' href=`/customer/detail/?id=${customer._id}`) Details
                a(class='btn btn-primary' href=`/customer/update/?id=${customer._id}`) Update
                a(class='btn btn-primary' href=`/customer/delete/?id=${customer._id}`) Delete
  script.
    function load(){
      console.log("cared")
    }
