extends layout

block content
    h1= title
    if (toShow == null)
        h2 No instance to show
    else
        - let Cust_Id = toShow._id
        - let Cust_Name = toShow.Cust_Name
        - let Cust_Age = toShow.Cust_Age
        - let Mail_Id = toShow.Mail_Id
        div
            div.row
                div(class='customerAttr mr-3') Customer ID is:
                div #{Cust_Id}
            div.row
                div(class='customerAttr mr-3') Customer Name is:
                div #{Cust_Name}
            div.row
                div(class='customerAttr mr-3') Customer Age is:
                div #{Cust_Age}
            div.row
                div(class='customerAttr mr-3') Customer email is:
                div #{Mail_Id}